* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
/*
HEADER
*/
.cabecalho_site {
    background-color: #dfdfdf;
    position: fixed;
    width:100%;
    height: 150px;
    z-index: 2;
}
.cabecalho_site a.logo-redirect{
    z-index: 3;
}
.cabecalho_site .logo img{
    position: relative;
    top: 15px;
    margin: 10px;
    width: 10%;
}
.cabecalho_site .logo img#coracao{
    left: 1.8%;
    transition: all 1s ease;
}
.cabecalho_site .logo img#globo{
    left: -10.2%;
    transition: all 1s linear;
}
.cabecalho_site .logo img#legenda{
    left: -22%;
    transition: all 1s ease;
}
/*TRANSITION BEGIN*/
.oculto{
    top: 15px !important;
    opacity: 0;
    transition: all 1s ease;
    width: 10% !important;
}
.maior{
    left: -14.7% !important;
    top: 40px !important;
    transform: scale(1.5,1.5);
    transform-origin: bottom left;
    transition: all 1s linear;
    width: 10% !important;
}
.posicionado{
    top: 15px !important;
    left: -1.3% !important;
    width: 10% !important;
}
/*TRANSITION ENDS*/
/*NAV BEGIN*/
.cabecalho_site nav::after{
    content: '';
    clear: both;
    display: table;
}
.cabecalho_site nav{
    transition: all 1s linear;
}
.cabecalho_site nav ul {
    z-index: 2;
    text-align: center;
    list-style: none;
    margin-right: auto;
    position: relative;
    top: -27px;
}
.cabecalho_site nav ul li {
    display: inline-block;
    background-color: rgb(223, 223, 223);
    margin: 0 5px;
    text-align: left;
}
.cabecalho_site nav ul li a {
    font-family:"FREDOKA ONE";
    color: #000;
    text-decoration: none;
    line-height: 70px;
    font-size: 20px;
    padding: 8px 15px;
}
.cabecalho_site nav ul li a:hover {
    color: #3A82BB;
}
.cabecalho_site nav ul ul {
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
}
.cabecalho_site nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}
.cabecalho_site nav ul ul li {
    position: relative;
    width: 110px;
    float: none;
    display: list-item;
}
.cabecalho_site ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}
.nav-subir{
    transform: translateY(-40px);
    transition: all 1s linear;
}
.contracao-nav{
    margin-bottom: 80px;
}

/*NAV ENDS*/
/*SLOGAN BEGINS*/
.cabecalho_site .slogan {
    z-index: 1;
    position: absolute;
    width: 30%;
    text-align: center;
    font-size: 15px;
    left: 34%;
    top: 6%;
}

.desaparecer{
    opacity: 0;
    display: none;
}
/*SLOGAN ENDS*/
/*PERFIL BEGINS*/
.cabecalho_site .perfil {
    align-items: center;
    position: absolute;
    margin: 25px;
    right: 10px;
    top: 20px;
    color: #000;
}
.cabecalho_site .perfil .login {
    text-align: center;
    width: 60px;
    line-height: 20px;
    margin: 5px;
}
.cabecalho_site .perfil .login a {
    color: #000;
    text-decoration: none;
}
.cabecalho_site .perfil .material-icons-outlined {
    position: absolute;
    top: -25px;
    left: 23px;
}
.cabecalho_site .perfil .login a:hover {
    color: #3A82BB;
    text-decoration: none;
}
/*MAIN*/
.content {
    display: flex;
    width: 90%;
    z-index: -2;
    justify-content: center;
    align-items: center;
    padding: 220px 0 0 220px;
}
.content section {
    margin-right: 60px;
    text-align: center;
}
.content section h2{
    font-family: 'FREDOKA ONE';
    font-size: 30px;
    position: relative;
    display: block;
    top: -10px;
}
.content section .left, .content section .right {
    background-image: url("fundo_section.png");
    background-repeat: no-repeat;
    border: 2px solid #f8a000;
}
.content section .left{
    height: 350px;
    width: 350px;
    z-index: -2;
    border-radius: 10px;
}
.content section .right{
    height: 350px;
    width: 350px;
    z-index: -2;
    border-radius: 10px;
}
.content section .left .fa.fa-cog {
    font-size: 230px;
    padding-top: 60px;
    color: #000;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    transition: .9s;
}
.content section .left .fa.fa-cog:hover {
    z-index: 999999;
    transform: scale(0.9);
}
.content section .right .fa.fa-plus {
    font-size: 230px;
    padding-top: 60px;
    color: #000;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    transition: .9s;
}
.content section .right .fa.fa-plus:hover {
    z-index: 999999;
    transform: scale(0.9);
}